<div ng-include="'static/views/head.html'"></div>
<div class="container main">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Hello {{ name }}</h1>
				</div>
				<div class="panel-body">
					<h2>Try out some angular magic</h2>
					<div class="input-group input-group-lg">
						<input ng-model="name" type="text" class="form-control" placeholder="Kevin Coxe" aria-describedby="sizing-addon1">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>